img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('https://media.giphy.com/media/zgduo4kWRRDVK/giphy.gif?cid=790b7611xlcuicek6ul01kwlcl59u5yews2yh316dt4xxgz8&ep=v1_gifs_search&rid=giphy.gif&ct=g') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
